<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/Office 2010 Blue</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value/>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <appSettings>
    <add key="handle" value="234234" />
    <add key="connectionString" value="Data Source=10.112.104.113\SQLEXPRESS;Initial Catalog=ASRS;User ID=sa;Password=123456;" />
    <add key="iwms_api_url" value="http://10.21.177.80:8080" />
    <add key="InductiveShelfLightOff" value="http://10.112.104.113:8080/mate/issueMaterial" />
    <add key="lightShelfCancelAlarmUrl" value="http://10.112.104.113:8080/shelf/cancelWarning" />
    <add key="lightShelfStatusUrl" value="http://10.112.104.113:8080/shelf/shelfList" />
    <add key="TransformationShelfLightOff" value="http://10.21.177.80:8085/api/LightBarThreeHeadLightsOtherRule/LightUpSomeLampBeads" />
    <add key="ColorsForInductive" value="3,4,5,6" />
    <add key="ColorsForTransformation" value="2,4,5" />

    <add key="isshow" value="0" />
    <add key="pic_width" value="900" />
    <add key="pic_height" value="300" />
    <add key="pic_font_size" value="75" />
    <add key="value" value="sendFail" />
    <add key="runtime" value="20" />
    <add key="isprint" value="0" />
    <add key="ischeckCount" value="1" />
    <add key="work_order_no" value="14325013_14T,14326984_13B,14326984_13T,14326987_18B,14326987_18T,14326988_19B,14326988_19T,14326989_20B,14326989_20T,14326990_21B,14326990_21T,14326992_23B,14326992_23T,14326993_24B,14326993_24T,14331530_14B,14331530_14T,14331534_21B,14331534_21T,14331536_22B,14331536_22T,14331537_24B,14331537_24T,14334288_13B,14334293_19B,14334294_20B,14334297_23B" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <!--校验导入入库单的重复性，每周70至周一80关闭-->
    <!--0表示关闭上述功能,1表示打开上述功能-->
    <add key="InStockChongFu" value="1" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <connectionStrings>
    <add name="DB" connectionString="Data Source=10.112.104.113\SQLEXPRESS;Initial Catalog=iWms;User ID=sa;Password=123456;integrated security=False;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
